/* Used by Carousel and PetSelect */

.carousel {
  background-color: #38a3a5;
  display: flex;
  min-height: 40px;
}

.hidden {
  height: 40px;
  justify-content: flex-end;
}

.shown {
  flex-direction: column;
  align-items: end;
}

.extendBtn {
  border: none;
  background-color: transparent;
  color: #081c15;
  font-size: 1rem;
  margin-right: 20px;
  box-shadow: none;
}

.extendBtn:hover {
  color: #ccff33;
}

.petSelectHold {
  display: flex;
  justify-content: center;
  overflow: auto;
  align-self: center;
}

.circle {
  background-color: #c9e4ca;
  border-radius: 100%;
  border: solid 10px #143f2d;
  height: 100px;
  width: 100px;
  margin: 15px 10px;
  min-width: 100px;
  background-size: cover;
}

.circle:hover {
  border-color: lightgreen;
}

.circle:active {
  border-color: rgb(93, 240, 93);
}

.active {
  border-color: rgb(93, 240, 93);
}
