/* Used by Carousel and PetSelect */

.carousel {
  background-color: #d9d9d9;
  display: flex;
  min-height: 40px;
}

.hidden {
  height: 40px;
  justify-content: flex-end;
}

.shown {
  flex-direction: column;
  align-items: end;
}

.extendBtn {
  border: none;
  background-color: transparent;
  color: #636363;
  font-size: 1rem;
  margin-right: 20px;
}

.extendBtn:hover {
  color: white;
}

.petSelectHold {
  display: flex;
  justify-content: center;
  overflow: auto;
  align-self: center;
}

.circle {
  background-color: #ededed;
  border-radius: 100%;
  border: solid 10px #636363;
  height: 100px;
  width: 100px;
  margin: 15px 10px;
  min-width: 100px;
  background-size: cover;
}

.circle:hover {
  border-color: lightgreen;
}

.circle:active {
  border-color: blue;
}

.active {
  border-color: pink;
}
