/* USED IN 'EventBox' && 'DateDisplay' */

.dateDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventBox {
  background-color: #dff7fc;
  border: solid 2px #03045e;
  max-width: 900px;
  min-width: 365px;
  width: 70vw;
  border-radius: 20px;
  margin: 10px;
  box-sizing: border-box;
}

.eventContent {
  display: flex;
  justify-content: space-between;
}

.checkbox {
  display: inline-block;
  height: 55px;
  width: 55px;
  border: solid 3px #03045e;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.checkboxActive {
  background-color: #03045e;
}

/* taken from https://css-tricks.com/inclusively-hidden/ */
.hideDefaultCheck {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.petIcon {
  background-color: #ededed;
  border-radius: 100%;
  border: solid 3px #03045e;
  height: 80px;
  width: 80px;
  min-width: 50px;
  background-size: cover;
}

.holder {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px 10px;
}

.holder p {
  color: #03045e;
  margin: 0;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  margin-top: 5px;
}

.holder button {
  width: 90px;
}

.textHolder {
  width: 60%;
  min-width: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 15px;
}

.textHolder p {
  margin: 0;
}

.textHolder h4 {
  margin: 0;
}
