.header {
  color: white;
  background-color: #023e8a;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 70px;
  align-items: center;
}

.header h1 {
  font-size: 3rem;
}

.nav-links {
  display: flex;
  font-size: 1.2rem;
  width: 280px;
}

.nav-links a,
.header button {
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.nav-links a:hover,
.header button:hover {
  color: #ccff33;
}

.header button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-family: "Segeo UI";
}

.search-bar {
  background-color: #22577a;
  color: #c8e8ee;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  margin: 0 20px;
}
