.petPic {
  max-width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 25px;
  display: block;
  object-fit: cover;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px -11px rgba(0, 2, 99, 1);
  border: 5px #03045e double;
}

.petBox {
  display: inline-block;
}

.displayBox {
  background-color: #dff7fc;
  border: #03045e solid 2px;
  border-radius: 25px;
  width: 90vw;
  margin: 20px;
}

.displayBox > div {
  align-self: center;
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.infoBox p {
  margin: 0 15px;
  display: inline;
  text-align: start;
}

.infoBox h3,
.infoBox button {
  margin: 10px 15px;
  padding: 5px 0px;
  width: 140px;
}

.expandBox {
  /* border: 2px solid #03045e; */
  border-radius: 25px;
  overflow: scroll;
  width: 95%;
  margin: 15px;
  padding: 5px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.expandHolder {
  display: flex;
  justify-content: center;
}

.expandBox th {
  border: solid #03045e 1px;
  width: 500px;
  background-color: #023e8a;
  color: white;
}

.expandBox td {
  border: solid #03045e 1px;
  text-align: center;
  background-color: white;
}

.expandBox button {
  margin: 0px 2px;
}

.editRow {
  max-width: 100px;
}

.permBox > div > p,
.permBox h4 {
  margin: 5px;
  padding: 0px;
}

.permBox button {
  margin: 0 10px;
  padding: 0 10px;
}

.permBox li {
  height: 22px;
}
