body {
  background-color: #8fe1ef;
}

main {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.margin-zero {
  margin: 0;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.right {
  margin-left: 30px;
}

.down {
  margin-top: 20px;
}

.up {
  margin-bottom: 20px;
}

.hidden {
  visibility: hidden;
}

.textCenter {
  text-align: center;
}

/* BUTTON STYLE FROM https://getcssscan.com/css-buttons-examples */

/* CSS */
button {
  background-color: #0077b6;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:hover {
  background-color: #023e8a;
}

button:active {
  background-color: #0064bd;
  box-shadow: none;
}

button:disabled {
  background-color: grey;
}

/* BUTTON OPTION TWO  */

.button2 {
  background-color: transparent;
  border-radius: 3px;
  color: #023e8a;
  box-shadow: none;
  box-sizing: border-box;
  padding: 2px 10px;
}

.button2:hover {
  border: solid 1px #023e8a;
  background-color: #80ed99;
}

.button2:focus {
  box-shadow: none;
}

.button2:active {
  background-color: transparent;
  box-shadow: none;
}
